@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  background-color: #080808; 
  color: #e5e2e1; 
}
.glass-panel { 
  background: rgba(22, 22, 22, 0.7); 
  backdrop-filter: blur(20px); 
  border: 1px solid rgba(255, 255, 255, 0.08); 
}
.card-hover:hover { 
  border-color: rgba(255, 255, 255, 0.2); 
}